{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block body %}
    <h1>Создание курса</h1>
    <form method="POST">
        <div>
            <input type="text" name="name" placeholder="Название">
        </div>
        <div>
            <select name="category_id">
                {% if categories|count == 0 %}
                    <option selected>Категорий нет.</option>
                {% else %}
                    <option selected>Выберите категорию</option>
                {% endif %}
                {% for item in categories %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
            {% if categories|count == 0 %}
                <a href="/category_create/">
                    Создать категорию
                </a>
            {% endif %}
        </div>
        <button type="submit" >Сохранить</button>
    </form>
{% endblock %}