{% extends "base.html" %}
{% block title %} {{title}} {% endblock %}
{% block body %}
    <h2>Список студентов</h2>
        <a href="/student_create/">Регистрация студента...</a>
    <table >
        <thead>
        </thead>
        <tbody>
            <tr>
                <th scope="col">Студент</th>
                <th scope="col">Курсы</th>
            </tr>
        {% for item in objects_list %}
            <tr>
                <td>{{ item.name }}</td>
                <td>
                    <ul>
                        {% if item.courses|count == 0 %}
                            <a href="/student_add/">Добавить курс...</a>
                        {% else %}
                            {% for course in item.courses %}
                                <li>{{ course.name }}</li>
                            {% endfor %}
                            <li><a href="/student_add/">Добавить...</a></li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}